/* STYLES */

body {
    background: rgb(32,32,32);
    color:  rgb(105, 105, 105);
    font-family: font-family: 'Bodoni Moda', serif;;
}
main{
    max-width: 650px;
    margin: 0 auto ;
}
h1{
    font-size: 24px;
    letter-spacing: -2px;
    line-height: 100%;
    margin: 0;
    margin-top: 75vh;
    margin-bottom: 75vh;
    color:  rgb(105, 105, 105);
    font-weight: 200;
    text-transform: uppercase;
    text-align: center;  
}
em {
    font-style: normal;
}

h2 {
    color: rgb(105, 105, 105);
    /* background: rgb(42, 42, 42); */
    border: 1px solid;
    padding: 34px;
    margin-top: 2cm;
    margin-bottom: 2cm;
    border-radius: 0px 40px 40px 0px;

    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;

}


h3{
    color: rgb(105, 105, 105);
    /* background: rgb(42, 42, 42); */
    border: 1px solid;
    padding: 34px;
    margin-top: 2cm;
    margin-bottom: 2cm;
    border-radius: 0px 40px 40px 0px;
 
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;

}

ul {
    list-style: auto;
}
h4{
    color: rgb(105, 105, 105);
    /* background: rgb(42, 42, 42); */
    border: 1px solid;
    padding: 34px;
    margin-top: 2cm;
    margin-bottom: 2cm;
    border-radius: 0px 40px 40px 0px;

    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
p{
    margin: 0px 0px 3cm 0px;
}
